!!!
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container
      section#alerts
    .container#body
      #season-number-outside
        #season-number 2
      #container
        section#users.text
          - each user in users
            - user_id = (user == current_user) ? 'current_user' : "user_#{user.id}"
            .user(id = user_id)
              .handle
                - if (current_user && current_user.admin)
                  a(href = 'edit_user')= user.handle
                - else
                  a(href = 'show_user')= user.handle
              - if (user == current_user)
                .count#edit_current_user
                  a(href = '#')= user.pushup_set_count
                .hidden#edit_current_user_form
                  form_for user do |f|
                  f.number_field :pushup_set_count, :min => 0, :max => 9999, :size => 6
                  f.submit 'save'
                  button_to 'cancel', '#', :id => 'cancel_edit'
              - else
                .count= helpers.tallyize(user.pushup_set_count)

    script
      $('li.menu').click(function(e){
        if (e.srcElement.className) {
          $(this).children('ul.menu-dropdown').toggle();
          return false;
        }
      });
      $('.close').click(function(){
        $(this).parent().slideUp();
        return false;
      });
