!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container#body
      #season-number-outside
        #season-number 3
      #container
        section#users.text
          - each user in users
            - myUser = (String(user._id) == String(currentUser._id))
            - user_id = myUser ? 'current_user' : "user_" + user._id
            .user(id = user_id)
              .handle
                a(href = '/users/' + user._id)= user.handle
              - if (myUser)
                .count#edit_current_user
                  a(href = '#')= helpers.tallyize(user.pushup_set_count)
                .hidden#edit_currentUser_form
                  form.edit_user#edit_user_1(action="/users/#{user._id}", method="post")
                    input#user_pushup_set_count(max="3999", min="0", name="user[pushup_set_count]", size="6", type="number", value="#{user.pushup_set_count}")
                    input#user_submit(name="commit", type="submit", value="save")
                    div
                      input#cancel_edit(type="submit", value="cancel")
              - else
                .count= helpers.tallyize(user.pushup_set_count)

    include ../includes/footer
    script
      var usersHash = {}
