!!!
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container
      section#alerts
    .container#body
      #season-number-outside
        #season-number 2
      #container
        section#users.text
          - each user in users
            - user_id = (user == current_user) ? 'current_user' : "user_#{user.id}"
            .user(id = user_id)
              .handle
                - if (current_user && current_user.admin)
                  a(href = 'edit_user')= user.handle
                - else
                  a(href = 'show_user')= user.handle
              - if (user == current_user)
                .count#edit_current_user
                  a(href = '#')= helpers.tallyize(user.pushup_set_count)
                .hidden#edit_current_user_form
                  form.edit_user#edit_user_1(action="/users/1", method="post")
                    input#user_pushup_set_count(max="3999", min="0", name="user[pushup_set_count]", size="6", type="number", value="#{user.pushup_set_count}")
                    input#user_submit(name="commit", type="submit", value="save")
                    div
                      input#cancel_edit(type="submit", value="cancel")
              - else
                .count= helpers.tallyize(user.pushup_set_count)

    include ../includes/footer
    script
      var usersHash = {}
